
<h1 id="site-name"><a href="{% url 'admin:index' %}">Polls Administration</a></h1>
{% endblock %}

<h1>{{question.question_text}}</h1>
{% if error_message %}
<p><strong>{{error_message}}</strong></p>
{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice {{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice {{forloop.counter}}"> 
            <!-- print each choice with label tag in the choice_set.all()-->
        {{choice.choice_text}}
        </label>
    {% endfor%}
    <!-- 'submit : 'When the click event occurs (typically because the user clicked the button), the user agent attempts to submit the form to the server. -->
    <input type="submit" value="Vote">
</form>


<!-- <ul>
    {% for choice in question.choice_set.all %}
    <li>{{choice.choice_text}}</li>
    {% endfor %}
</ul> -->